/* Hello everyone! I am happy to be doing this CSS project, especially over virtual with Mr. Caruso
as my professor this time. */

/* basic HTML elements */
body {
    background-color: #FCF67E;
    font-family: "Roboto Slab", serif;
  }  
  
  h1, h2, h3, h4, h5, h6 { /* make the headers red and monospace */
  	 color: #ff0000;
    font-family: monospace;
  }

  ul {
  	 font-size: 90%; /* to make sure headers aren't too "big" relative to the other font */
  }  
  
  header {
    text-align: center;
  }
  
  footer {
    text-align: center;
  }
  
  .copyright-main {
    font-family: monospace;
    font-color: #ff0000;
  }
  
  /* Hobbies */
  #hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

/* blog content (referred to as "lit") */
  #lit {
  	 color: blue;
  	 font-style: italic;
  }


  /* Gallery */
  #gallery img {
    max-width:100%;
  }
  
  /* Gallery tablet size */
  
  @media screen and (min-width: 60em) {
  
    #gallery figure {
      display:grid;
      grid-template-columns: 2fr 1fr;
    }
    #gallery figcaption {
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      margin-left: 1rem;
    }
  
  }
  
  #gallery * {
    border:1px solid black;
  }
  
  /* Gallery full screen */
  @media screen and (min-width: 100em) {
  
    #gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    #gallery hr {
      display: none;
    }
  
    #gallery h2 {
      grid-column: 1/-1;
    }
  
  }

/* define lowerHead to center and add emphasis by bolding the text */
#lowerHead {
	display: flex;
	justify-content: center;
	font-weight: bold;
}

  #formElements {
    display: grid;
  }

/* For the navigation bar */

.navbar {
	background-color: white;
	color: gray;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	display: inline-block;
}

/* The navigation links */
.navbar-links a {
	color: whitesmoke;
	background-attachment: #333;
	font-size: 1.5rem;
	padding: 1rem 1.25rem;
	letter-spacing: 2px;
	text-decoration: none;
	display: inline-block;
}

/* navigation links: concentrate on "hover" (when mouse is over) and "focus" states */
.navbar-links a:hover, .navbar-links a:focus {
	filter: invert(1);
	border-radius: 10px;
	outline: none;
}

/*  Navigation 'li' element (lists) */

.navbar-links li {
	list-style: none;
	display: block;
	padding 0.5em 0;
}

/* define CSS for navbar link elements specifically */
.navbar-links a {
	color: whitesmoke;
	background-attachment: #333;
	font-size: 1.5rem;
	padding: 1rem 1.25;
	letter-spacing: 2px;
	text-decoration: none;
	display: inline-block;
}
